.categorySwiper {
  .swiper-wrapper {
    align-items: center;
  }
  .category_item {
    background-color: $base-color;
    color: #fff;
    padding: 6px 10px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 14px;
    opacity: 0.5 !important;
    transition: transform 0.1s;

    &.active {
      opacity: 1 !important;

      span {
        display: flex;
      }
    }

    &:active {
      transform: scale(0.9);
    }

    span {
      display: none;
      align-items: center;
      font-size: 22px;
      z-index: 5;
    }
  }

  .swiper-slide {
    min-width: 85px;
    width: auto !important;
  }
}
